<form action="/answer" data-turbo="false" method="get">
  <label for="answer">Ask a question, please</label> <!-- For and id need to match -->
  <input type="text" id="answer" name="question" placeholder="...">
  <input type="submit" value="Ask!">
</form>
